.App {
  text-align: center;
}
body{
  background-image: url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bG9naW58ZW58MHx8MHx8&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}
.title{
  font-size:30px;
  color: whitesmoke;

}
.student{
  margin:10px;
  border:1px solid red;
  padding:10px;
  background-color: rgb(235, 199, 21);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDDe-S79qxBAhq3d9xyq3fBmNBah4WBcG-Jw&usqp=CAU");
}
.content{
  margin-left:30px;
  text-align: left;
}
.card-container{
  display: grid;
  gap :1rem;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  margin-top:70px;
}
.addstudent{
  background-color: rgba(50, 199, 249, 0.966);
  border-radius: 5px;
  font-size: 15px;
}
.editstudent{
  background-color: rgba(50, 199, 249, 0.966);
  border-radius: 5px;
  font-size: 15px;
}
.deletestudent{
  margin-left:30px;
  background-color: red;
  border-radius: 5px;
  font-size: 15px;
}
.edit{
  background-color: rgba(50, 199, 249, 0.966);
  border-radius: 5px;
  font-size: 15px;
}
.add{
  background-color: rgba(50, 199, 249, 0.966);
  border-radius: 5px;
  font-size: 15px;
}